.player {
  width: 100%;
}

.player img {
  margin-top: 30%;
  max-width: 100%;
  max-height: 800px;
}

.player-background {
  position: absolute;
  top: 0;
  bottom: 20%;
  left: -30%;
  right: -30%;
  margin-left: -20%;
  opacity: 0.1;
}

.player-background img {
  width: 100%;
}

aside {
  margin-top: -10%;
  max-height: 100vh;
}

@media screen and (max-width: 767px) {
  aside {
    display: none;
  }
}
